{% extends 'layout.html' %}

{% block titre %}
    Connexion
{% endblock %}

{% block body %}
<div class="container">
  <form action="" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" name="url" class="materialize-textarea"></textarea>
        <label for="textarea1">Site web</label>
    </div>
    <a><input class="btn waves-effect waves-light white z-depth-3" type="submit" value="Ajouter"/></a>
  </div>
  </form>
</div>
{% endblock %}
