{% extends 'layout.html' %}

{% block titre %}
    Connexion
{% endblock %}
{% block body %}
<div class="row">
  <div class="col s12"><p></p></div>
  <div class="col s12"><p></p></div>
  <div class="col s12"><p></p></div>
  <div class="col s12 m4 l2"><p></p></div>
  <div class="col s12 m4 l8">
    {% for logs in logs %}
      <div class="row">
      <div class="col s12 center-align">
        <div class="card white z-depth-3 hoverable">
          <div class="card-content black-text">
            <span class="card-title">{{logs[1]}} / {{logs[2]}}</span>
          </div>
        </div>
      </div>
  </div>
  {% endfor %}
</div>
  <div class="col s12 m4 l2"><p></p></div>
</div>
{% endblock %}
